# Autosave files
*.asv
*.m~
*.autosave
*.slx.r*
*.mdl.r*
*.bak

# Derived content-obscured files
*.p

# Compiled MEX files
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Deployable archives
*.ctf

# Generated helpsearch folders
helpsearch*/

# Code generation folders
slprj/
sccprj/
codegen/

# Cache files
*.slxc

# Cloud based storage dotfile
.MATLABDriveTag

# buildtool cache folder
.buildtool/

# SimBiology backup files
*.sbproj.backup
*.sbproj.bak

# Thumbnail files
Thumbs.db

# VS Code folder
.vscode/

# Github folder
.github/

# Claude folder
.claude/

# Dataset folder
datasets/

# Context folder
context/
